# environment setup
language: swift
osx_image: xcode11.1

# uninstall old versions so cache won't grow indefinitely
before_cache:
  - brew cleanup

# caching of dependencies
cache:
  bundler: true
  directories:
    - Carthage
    - $HOME/Library/Caches/Homebrew

# branch safelist
branches:
  only:
    - master
    - /^release\/.*$/

# prepare dependency managers
before_install:
  - brew update
  - brew outdated carthage || brew upgrade carthage
  - gem install bundler -v "$(grep -A 1 "BUNDLED WITH" Gemfile.lock | tail -n 1)"

# install dependencies
install:
  - travis_wait carthage bootstrap --platform iOS --cache-builds
  - bundle install

# authentication required by scripts
before_script:
  - echo "machine github.com login $GITHUB_API_TOKEN" >> ~/.netrc

# jobs and stages to run
jobs:
  include:
    - stage: Code validation
      name: Code validation
      script:
        - ./scripts/validate-branch-name.sh
        - bundle exec danger
      if: type = pull_request

    - stage: Test
      name: Unit tests
      script:
        - bundle exec fastlane unit_test
      if: type = pull_request

    - stage: Test
      name: UI tests
      script:
        - bundle exec fastlane ui_test
      if: type = pull_request

    - stage: Deploy
      name: Deploy to App Store
      script:
        - bundle exec fastlane deploy_to_app_store
      if: branch =~ /^release\/.*$/
